wikipedia/src/main/resources/wikipedia/wikipedia.dat
wikipedia/target
wikipedia/project/target/
wikipedia/target/scala-2.11/classes/wikipedia/wikipedia.dat
### Scala template
*.class
*.log

target/
stackoverflow/
.idea/
.DS_Store
